
.thebelab-cell {
  /* border: 2px solid #aaa;
  border-radius: 4px;
  margin-top: 8px;
  margin-bottom: 8px; */

  padding: .4em .4em;
  background: #e8f2fb;
  border: 1px solid #c9e1f6;
  border-radius: 3px;

}

.thebelab-cell:focus-within {
  border-color: #c4e3ff;
}

.jp-OutputArea > :first-child {
  padding-top: 0.5em;
  border-top: 1px solid #aaa;
}

.jp-RenderedText pre, .jp-RenderedJavaScript pre, .jp-RenderedHTMLCommon pre {
  
  background-color: transparent;

}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  height: auto;
}

/* .CodeMirror {
  background-color: transparent;
} */


.CodeMirror.CodeMirror-focused {
  /* background-color: white; */
}

/* no prompts */
.jp-OutputPrompt {
  display: none;
}
